ipykernel
ipywidgets

numpy
pandas
matplotlib
seaborn
flask
memory_profiler
streamlit
scikit-learn
nltk
tensorboard
tensorflow
scikeras
gensim
bs4
faiss-cpu  # or faiss-gpu
tf-keras

langchain_community
langchain_text_splitters
langchain_openai
langchain_ollama   # ollama.com
langchain-groq
langchain-google-community

langchain
langserve
pypdf
PyPDF2
arxiv
pymupdf
wikipedia 
chromadb
sentence_transformers
langchain_huggingface 
langchain_chroma
duckdb 
openai
duckduckgo_search

mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
sse_starlette
duckduckgo-search
